<button
  mat-fab
  color="primary"
  aria-label="Example icon button with a delete icon"
  class="buttonAddNewTask"
  (click)="createNewTask()"
>
  <mat-icon>add_task</mat-icon>
</button>

<div
  class="task"
  *ngFor="let task of tasks"
  [ngClass]="task.finished ? 'done' : 'todo'"
>
  <h3>{{ task.name }}</h3>
  <p>{{ task.description }}</p>
  <span
    class="task_state todo"
    (click)="onTaskStatechange()"
    [ngClass]="task.finished ? 'done' : 'todo'"
    >{{ task.finished ? "Done" : "Todo" }}</span
  >
  <span class="task_importance">{{ task.importance }}</span>
</div>
