<div class="task">
  <h3>Muscu</h3>
  <p>Faire scéance Push</p>
  <span
    class="task_state todo"
    (click)="onTaskStatechange()"
    [ngClass]="taskDone ? 'done' : 'todo'"
    >Todo</span
  >
  <span class="task_importance">important</span>
</div>

<div class="task">
  <h3>Task name</h3>
  <p>description of the task</p>
  <span
    class="task_state todo"
    (click)="onTaskStatechange()"
    [ngClass]="taskDone ? 'done' : 'todo'"
    >Todo</span
  >
  <span class="task_importance important">important</span>
</div>

<div class="task">
  <h3>Task name eee eeeeeee</h3>
  <p>description of the task</p>
  <span
    class="task_state todo"
    (click)="onTaskStatechange()"
    [ngClass]="taskDone ? 'done' : 'todo'"
    >Todo</span
  >
  <span class="task_importance">important</span>
</div>

<div class="task done">
  <h3>Muscu</h3>
  <p>Faire scéance Push</p>
  <span class="task_state done">done</span>
  <span class="task_importance">important</span>
</div>

<div class="task">
  <h3>Task name</h3>
  <p>description of the task</p>
  <span class="task_state todo">Todo</span>
  <span class="task_importance important">important</span>
</div>

<div class="task">
  <h3>Task name</h3>
  <p>description of the task</p>
  <span class="task_state done">Done</span>
  <span class="task_importance">important</span>
</div>
