/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:wght@400;600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #1b1c1e;
  color: white;
  font-family: "Montserrat";
}

h1 {
  font-weight: 900;
}
